<div class="home-section">
    <h1>Dobrodošli!</h1>
    <h2>Angular Aplikacija - Razvoj višeslojnih aplikacija</h2>
  </div>
  
<div class="appInfo-section">
       <ng-container >
           <div class="column">
               <div class="card">
                 <div class="container">
                   <h2>Kredit</h2>
                   <p>Tabelarni prikaz vrsta kredita.</p>
                   <p><button routerLink="/kredit" class="button">Pogledaj</button></p>
                 </div>
               </div>
             </div>
       </ng-container>
       <ng-container >
           <div class="column">
               <div class="card">
                 <div class="container">
                   <h2>Tip računa</h2>
                   <p>Tabelarni prikaz vrsta računa koje klijenti mogu da koriste.</p>
                   <p><button routerLink="/tip_racuna" class="button">Pogledaj</button></p>
                 </div>
               </div>
             </div> 
       </ng-container>
       <ng-container >
           <div class="column">
               <div class="card">
                 <div class="container">
                   <h2>Klijent</h2>
                   <p>Tabelarni prikaz svih klijenata, gde se klikom na klijenta prikazuje lista svih njegovih otvorenih računa.</p>
                   <p><button routerLink="/klijent" class="button">Pogledaj</button></p>
                 </div>
               </div>
             </div>
       </ng-container>
       <ng-container >
           <div class="column">
               <div class="card">
                 <div class="container">
                   <h2>Racun</h2>
                   <p>Tabelarni prikaz računa preko klijenta koji ih je otvorio. Listi radnika je moguće pristupiti samo odabirom željenog klijenta.</p>
                   <p><button routerLink="/klijent" class="button">Pogledaj</button></p>
                 </div>
               </div>
             </div>
       </ng-container>
   </div>